* {
   margin: 0;
   padding: 0;
}
body {
   font-family: 'poppins', sans-serif;
}

.loja-de-concertos{
   background-color: #a568bd;
   color: #000d1a;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 24px 0;
}

.cabeçalho-imagem{
   width: 5%;
}

.cabeçalho-lista-item{
   display: inline-block;
   margin: 0 16px;
   font-size: 24px;
}

.cabeçalho-lista-item{
   text-decoration: none;
   color: rgb(5, 3, 7);
}


.loja-imagem{
   width: 10%;
}

.loja{
   background-image: linear-gradient(#7B18B3,#6C2C90) 
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 24px 0;
}

.loja-div-conteudo{
   width: 35%;
}
.loja-titulo{
   padding: 24px 0;
}

.estudante{
   padding: 24px 0;
   background-color: rgb(66, 41, 77);
}
.estudante-imagem{
   width: 120px;
}
.estudante-icone{
   width: 40px;
   padding: 4px 10px;
}
.estudante-div{
   text-align: center;
   padding: 16px 0;
}

.estudante-titulo{
   text-align: center;
   padding: 50px 0;
}

.estudante-todos{
   display: grid;
   grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape{
   background-color: black;
   text-align: center;
}

.rodape-imagem{
   height: 60px;
   padding: 12px 0;

}
    
    

    


}
    
