* {
   margin: 0;
   padding: 0;
}

.loja-de-concertos{
   background-color: #a568bd;
   color: #000d1a;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 24px 0;
}

.cabeçalho-imagem{
   width: 5%;
}

.cabeçalho-lista-item{
   display: inline-block;
   margin: 0 16px;
   font-size: 24px;
}


.loja-imagem{
   width: 25%;
}

.loja{
   background-image: linear-gradient(#400547,#511b68);
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 24px 0;
}

.loja-div-conteudo{
   width: 35%;
}
.loja-tiulo{
   padding: 24p 0;
}

.estudante-imagem{
   width: 10%;
}

   width: 35%;
}
.loja-tiulo{
   padding: 24p 0;
}

